.parentItem {
	display: flex;
	align-items: center;
	margin: 0.2rem 0;
	cursor: grab;

	> .icon {
		font-size: 1.25rem;
		color: #717171;
	}

	> .text {
		margin-left: 0.5rem;
		font-size: 1rem;
	}
}
