.main {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	> p {
		color: #464646;
		font-weight: 600;
		font-size: 1.1vw;
		font-weight: 500;
		width: 5vw;
	}

	> .conditionWrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-radius: 0.5rem;
		overflow: hidden;
		border: 1px solid #8080802c;

		> .grabber {
			height: 100%;
			background-color: #00000014;
			padding: 0.5rem;
			cursor: pointer;

			> svg {
				font-size: 1.5rem;
				color: #464646;
			}
		}

		> .condition {
			width: fit-content;
			padding: 0 1rem 0 0;

			> select {
				width: 10vw;
				padding: 0.5rem;
				font-size: 1.15rem;
				border-radius: 0;

				&:focus {
					outline: none;
				}
			}

			&:not(:last-child) {
				border-right: 1px solid #8080802c;
			}
		}
	}

	> svg {
		font-size: 1.5rem;
		color: #7d7d7d;
		cursor: pointer;
		margin-left: 1rem;
	}
}
