 

.main {
	width: 100%;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #191919;

	> .topBar {
		flex-basis: 15%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		> .topControl {
			padding: 1rem;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		> .headerWrapper {
			display: flex;
			align-items: center;
			width: 100%;

			> .header {
				width: 100%;
				padding: 0.75rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #ffffff2d;

				> .headerLeft {
					display: flex;
					align-items: center;
					justify-content: center;

					> svg {
						color: white;
						font-size: 1.25rem;
						margin-right: 0.5rem;
					}

					> p {
						color: white;
						font-size: 1.2rem;
						font-weight: 300;
					}

					> span {
						background-color: #272727;
						border-radius: 0.5rem;
						padding: 0.1rem 0.5rem;
						font-size: 0.75rem;
						font-weight: 400;
						color: white;
						margin-left: 0.5rem;
					}
				}

				> .headerright {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1rem;

					> svg {
						color: white;
						font-size: 1rem;
					}
				}
			}
		}
	}

	> .kanbanWrapper {
		flex-basis: 85%;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 1rem;
		gap: 1rem;
		overflow: auto;

		> .columnmain {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 1rem;
			transition: all 0.3s;

			> .cardWrapper {
				height: 100%;
				width: 100%;
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none; /* IE 10+ */

				&:-webkit-scrollbar {
					display: none; /* Chrome, Safari, and Edge */
				}

				.card {
					border-radius: 1rem;
					border: 2px solid transparent;
					transition: all 0.3s ease;
				}

				.dragging {
					border: 2px solid #21a3ff;
					border-radius: 1rem;
					transition: all 0.3s ease;
				}
			}
		}
	}
}
